body {
    /* Full height */
    height: 100%;
    /* Full width */
    width: 100%;
    /* Background image */
    background: url("../images/jack-anstey-XVoyX7l9ocY-unsplash.jpg") no-repeat center center fixed;
    /* Center and scale the image nicely */
    background-size: cover;
}

#train-table th,
td {
    display: inline-block;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
}

div.jumbotron {
    background-color: hsla(151, 78%, 11%, 0.89);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: hsla(151, 78%, 11%, 0.89);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

div.card-header {
    background-color: hsla(151, 78%, 11%, 0.89);
    color: white;
    font-family: 'Montserrat', sans-serif;
}


/* Style credit text for photo used as background image */

#credit {
    font-size: 16px;
    padding-right: 25px;
    font-family: 'Montserrat', sans-serif;
}